<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Splurty</h1>

  <p>
    Splurty was built by Hieu, whose mission is to give people the joy and knowledge of a humorous, adventurous, and introspective 6 year old boy and his pet stuffed tiger, <a target="_blank" href="http://en.wikipedia.org/wiki/Calvin_and_Hobbes">Calvin & Hobbes</a>. The things we both share in common is our creative minds, love of snowball fights, and the ability to turn crazy ideas into a reality. (At the very least, a Minimum Viable Product version of it.)
  </p>
  <br />
  <p>
    Hopefully, reading these quotes will inspire you to delve into more quotes from Calvin & Hobbes. If so, please contribute (hence the contribute button) one of your favorite quotes that you've found inspiring, mischievious, and especially grin-worthy, to this site. Type a topic (click I NEED MORE! to cycle through the quotes at random) into <a target="_blank" href = "http://michaelyingling.com/random/calvin_and_hobbes/">this great database</a> to get you going and explore away. 
  </p>

  <p>
    For more about me, you can click <a target="_blank" href="http://www.linkedin.com/in/hieule46">here</a>. If you want to see more of my work - start <a target="_blank" href="http://www.github.com/hewydewyle">here</a>. 
  </p>


  <div class="col-xs-12 col-sm-4" style="padding-top:30px;">
    <%= image_tag 'pic.jpg', :class => 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Hieu Le</h2>
    <br />
    <p>
      Hieu Le is an aspiring full-stack Ruby on Rails developer. In a previous life, he was a <a target="_blank" href="http://www.boston.com/news/local/articles/2008/07/19/vietnamese_advocacy_group_aims_to_survive/">youth services specialist</a> in his hometown of Boston, MA. He held the streak for most consecutive days for making his bed (117), being legally addicted to Sour Patch Kids, and once ate 9 pork buns in one sitting. He's traveling swiftly towards his goals and it's your chance to come along for the ride. 
    </p>
  </div>
 

</div>


<br class="clear" />
<br />
<br />
<br />
<br />
