<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="http://github.com/hewydewyle">Hieu</a>, an aspiring web developer, whose mission is to give people the joy and knowledge of a sardonic 6 year old boy. The things we both have in common is our ability to turn crazy ideas into a reality. (At the very least, an MVP version of it.)
  </p>
  <br />
  <p>
    Hopefully, reading these quotes has inspired you to do a look up for more quotes from Calvin. If so, please contribute one of your favorite quotes that you've found inspiring, mischievious, and especially grin-worthy, to this site. 
  </p>

  <p>
    For more about me, you can click <a target="_blank" href="http://www.linkedin.com/in/hieule46">here</a>. If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/">here</a>. 
  </p>


  <div class="col-xs-12 col-sm-4" style="padding-top:30px;">
    <%= image_tag 'pic.jpg', :class => 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Hieu Le</h2>
    <br />
    <p>
      Hieu Le is a web developer and Ruby on Rails contributor. Previously he was a tech lead at Where.com (<a target="_blank" href="http://bostinno.streetwise.co/2011/04/13/nearbuys-where-rolls-out-daily-deals/">acquired by PayPal</a>) and a member of the PayPal/eBay development team in Boston. In a previous life he turned a <a target="_blank" href="http://yourfreequotes.com/">health insurance quotes generator</a> from a $400/day web application into a $40,000/day business.
    </p>
  </div>
 

</div>


<br class="clear" />
<br />
<br />
<br />
<br />
