<h3>
	<span>Calvin's Wisdom / No. <%= @quote.id %></span>
	<br />
	The <u>best unsolicited life advice</u> you can get!
</h3>

<h1><%= @quote.saying %></h1>
<h3 class="pull-right">- <%= @quote.author %></h3>

<br class="clear" />
<br />
<br />
<br />
